targets/-# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# sbt
# (may want to keep parts of 'project')
bin/
project/
target/
build/
.metals/

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class

# Build
Arthur/build/
build/

# Rust
target/

# Other
*.png
